name: Publish Site
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      # ↓↓↓ ここを修正（日本語フォントを追加インストール）
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev zlib1g-dev
          sudo apt-get install -y fonts-noto-cjk
      # ↑↑↑ ここまで

      - name: Install dependencies
        run: pip install -r requirements.txt
      
      - run: mkdocs gh-deploy --force
